nodered/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Sensor Data Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ui_tab_monitor",
        "type": "ui_tab",
        "name": "K\u1ecbch b\u1ea3n 1: Gi\u00e1m s\u00e1t",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_tab_violation",
        "type": "ui_tab",
        "name": "K\u1ecbch b\u1ea3n 2: Theo d\u00f5i vi ph\u1ea1m",
        "icon": "warning",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_group_violation_placeholder",
        "type": "ui_group",
        "name": "\ud83d\udccb Th\u00f4ng tin vi ph\u1ea1m",
        "tab": "ui_tab_violation",
        "order": 1,
        "disp": false,
        "width": "24",
        "collapse": false
    },
    {
        "id": "ui_group_control",
        "type": "ui_group",
        "name": "\ud83d\udcf7 Ch\u1ecdn Camera",
        "tab": "ui_tab_monitor",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_temp",
        "type": "ui_group",
        "name": "\ud83c\udf21\ufe0f Nhi\u1ec7t \u0111\u1ed9",
        "tab": "ui_tab_monitor",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_hum",
        "type": "ui_group",
        "name": "\ud83d\udca7 \u0110\u1ed9 \u1ea9m",
        "tab": "ui_tab_monitor",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_video",
        "type": "ui_group",
        "name": "\ud83d\udcf9 Live Camera",
        "tab": "ui_tab_monitor",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "57c141722b11a9a9",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#1a1a2e",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#16213e",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#0f3460",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#e94560",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#0f3460",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#1a1a2e",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#e94560",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#0f3460",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "pink",
                "warn": "red",
                "background": "grey",
                "palette": "dark"
            }
        },
        "site": {
            "name": "Traffic Manager IoT",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "mqtt_broker_emqx",
        "type": "mqtt-broker",
        "name": "EMQX Public",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "nodered-dashboard",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "ui_template_camera_select",
        "type": "ui_template",
        "z": "f6f2187d.f17ca8",
        "group": "ui_group_control",
        "name": "Camera Dropdown",
        "order": 1,
        "width": 12,
        "height": 5,
        "format": "<div style=\"padding: 10px;\">\n    <label style=\"color: #e94560; font-weight: bold; margin-bottom: 8px; display: block;\">Ch\u1ecdn Camera:</label>\n    <select id=\"camera-select\" style=\"width: 100%; padding: 10px; border-radius: 8px; border: 2px solid #e94560; background: #16213e; color: white; font-size: 14px; cursor: pointer;\">\n        <option value=\"\">-- Ch\u1ecdn camera --</option>\n    </select>\n    \n    <label style=\"color: #e94560; font-weight: bold; margin: 12px 0 8px; display: block;\">Kho\u1ea3ng th\u1eddi gian:</label>\n    <div id=\"time-range-btns\" style=\"display: flex; gap: 8px; flex-wrap: wrap;\">\n        <button data-range=\"15000\" style=\"flex:1; padding: 8px; border-radius: 6px; border: 1px solid #e94560; background: #16213e; color: #ccc; cursor: pointer;\">15s</button>\n        <button data-range=\"30000\" style=\"flex:1; padding: 8px; border-radius: 6px; border: 1px solid #e94560; background: #16213e; color: #ccc; cursor: pointer;\">30s</button>\n        <button data-range=\"60000\" class=\"active\" style=\"flex:1; padding: 8px; border-radius: 6px; border: 1px solid #e94560; background: #e94560; color: white; cursor: pointer;\">60s</button>\n        <button data-range=\"300000\" style=\"flex:1; padding: 8px; border-radius: 6px; border: 1px solid #e94560; background: #16213e; color: #ccc; cursor: pointer;\">5m</button>\n    </div>\n    \n    <div id=\"camera-status\" style=\"margin-top: 10px; color: #888; font-size: 12px;\">\u0110ang t\u1ea3i...</div>\n</div>\n\n<script>\n(function(scope) {\n    const select = document.getElementById('camera-select');\n    const status = document.getElementById('camera-status');\n    const btns = document.querySelectorAll('#time-range-btns button');\n    const baseUrl = 'http://' + location.hostname + ':3000';\n    let selectedRange = 60000; // Default 60s\n    \n    btns.forEach(btn => {\n        btn.addEventListener('click', () => {\n            btns.forEach(b => { b.style.background = '#16213e'; b.style.color = '#ccc'; });\n            btn.style.background = '#e94560'; btn.style.color = 'white';\n            selectedRange = parseInt(btn.dataset.range);\n            if (select.value) loadHistory(select.value);\n        });\n    });\n    \n    fetch(baseUrl + '/api/camera/all')\n        .then(res => res.json())\n        .then(data => {\n            const cameras = data.metadata || data.data || data;\n            if (!Array.isArray(cameras)) throw new Error('Invalid');\n            cameras.forEach(cam => {\n                const opt = document.createElement('option');\n                opt.value = cam._id;\n                opt.textContent = cam.camera_name || cam.name || cam._id;\n                select.appendChild(opt);\n            });\n            status.textContent = cameras.length + ' camera';\n            status.style.color = '#48bb78';\n        })\n        .catch(err => { status.textContent = 'L\u1ed7i: ' + err.message; status.style.color = '#ff6b6b'; });\n    \n    function loadHistory(cameraId) {\n        status.textContent = '\u23f3 \u0110ang t\u1ea3i...';\n        status.style.color = '#ffd93d';\n        scope.send({payload: cameraId, topic: 'selectedCamera'});\n        \n        setTimeout(() => {\n            const fromTime = Date.now() - selectedRange;\n            fetch(baseUrl + '/api/sensor/history/' + cameraId + '?limit=500&from=' + fromTime)\n                .then(res => res.json())\n                .then(data => {\n                    const history = data.metadata || data;\n                    if (Array.isArray(history) && history.length > 0) {\n                        scope.send({payload: history, topic: 'sensorHistory'});\n                        status.textContent = '\u2705 ' + history.length + ' \u0111i\u1ec3m';\n                    } else {\n                        scope.send({payload: [], topic: 'sensorHistory'});\n                        status.textContent = '\u2705 Kh\u00f4ng c\u00f3 d\u1eef li\u1ec7u';\n                    }\n                    status.style.color = '#48bb78';\n                })\n                .catch(err => { status.textContent = 'L\u1ed7i: ' + err.message; status.style.color = '#ff6b6b'; });\n        }, 300);\n    }\n    \n    select.addEventListener('change', () => {\n        if (select.value) loadHistory(select.value);\n        else { status.textContent = 'Ch\u01b0a ch\u1ecdn'; status.style.color = '#888'; scope.send({payload: '', topic: 'selectedCamera'}); }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "func_set_camera",
                "ui_template_traffic_light",
                "ui_template_vehicle_stats",
                "ui_template_video"
            ]
        ]
    },
    {
        "id": "func_set_camera",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Process Camera/History",
        "func": "if (msg.topic === 'selectedCamera') {\n    flow.set('selectedCameraId', msg.payload);\n    if (msg.payload) {\n        node.status({fill:'green', shape:'dot', text: 'Camera: ' + msg.payload});\n        return [{payload: []}, {payload: []}, {payload: 0}, {payload: 0}];\n    } else {\n        node.status({fill:'grey', shape:'ring', text: 'No camera'});\n    }\n    return null;\n}\n\nif (msg.topic === 'sensorHistory') {\n    var history = msg.payload;\n    var lastTemp = 0, lastHum = 0;\n    \n    if (!history || history.length === 0) {\n        node.status({fill:'yellow', shape:'ring', text: 'No data'});\n        return [{payload: 0}, {payload: 0}, {payload: 0}, {payload: 0}];\n    }\n    \n    // Build chart data array\n    var tempChart = [];\n    var humChart = [];\n    \n    history.forEach(function(item) {\n        var ts = new Date(item.created_at).getTime();\n        tempChart.push({x: ts, y: item.temperature});\n        humChart.push({x: ts, y: item.humidity});\n        lastTemp = item.temperature;\n        lastHum = item.humidity;\n    });\n    \n    node.status({fill:'blue', shape:'dot', text: history.length + ' points'});\n    \n    // Return chart series format\n    return [\n        {payload: [{ series: ['Temperature'], data: [tempChart], labels: [''] }]},\n        {payload: [{ series: ['Humidity'], data: [humChart], labels: [''] }]},\n        {payload: lastTemp},\n        {payload: lastHum}\n    ];\n}\n\nreturn null;",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 60,
        "wires": [
            [
                "ui_chart_temp"
            ],
            [
                "ui_chart_hum"
            ],
            [
                "ui_gauge_temp"
            ],
            [
                "ui_gauge_hum"
            ]
        ]
    },
    {
        "id": "mqtt_in_sensor",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "MQTT Sensor",
        "topic": "traffic-manager/sensor/#",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_emqx",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "func_filter_camera"
            ]
        ]
    },
    {
        "id": "func_filter_camera",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Filter by Camera",
        "func": "var selectedCamera = flow.get('selectedCameraId');\nvar incomingCamera = msg.payload.camera_id;\n\n// Only pass through if camera is selected AND matches\nif (selectedCamera && selectedCamera === incomingCamera) {\n    return msg;\n}\n\n// Block if no camera selected or doesn't match\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 140,
        "wires": [
            [
                "debug_sensor",
                "function_split_data"
            ]
        ]
    },
    {
        "id": "debug_sensor",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "function_split_data",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Split",
        "func": "var temp = { payload: msg.payload.temperature, topic: 'Temp' };\nvar hum = { payload: msg.payload.humidity, topic: 'Hum' };\nreturn [temp, hum];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 180,
        "wires": [
            [
                "ui_gauge_temp",
                "ui_chart_temp"
            ],
            [
                "ui_gauge_hum",
                "ui_chart_hum"
            ]
        ]
    },
    {
        "id": "ui_gauge_temp",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "Gauge Temp",
        "group": "ui_group_temp",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Nhi\u1ec7t \u0111\u1ed9",
        "label": "\u00b0C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "35",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "ui_chart_temp",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "Chart Temp",
        "group": "ui_group_temp",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "L\u1ecbch s\u1eed nhi\u1ec7t \u0111\u1ed9",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Ch\u1ecdn camera \u0111\u1ec3 xem d\u1eef li\u1ec7u",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "5",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#ff7f0e"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_gauge_hum",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "Gauge Hum",
        "group": "ui_group_hum",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "\u0110\u1ed9 \u1ea9m",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "70",
        "x": 710,
        "y": 240,
        "wires": []
    },
    {
        "id": "ui_chart_hum",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "Chart Hum",
        "group": "ui_group_hum",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "L\u1ecbch s\u1eed \u0111\u1ed9 \u1ea9m",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Ch\u1ecdn camera \u0111\u1ec3 xem d\u1eef li\u1ec7u",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_template_video",
        "type": "ui_template",
        "z": "f6f2187d.f17ca8",
        "group": "ui_group_video",
        "name": "Video",
        "order": 1,
        "width": 12,
        "height": 7,
        "format": "<div class=\"cctv-player\" style=\"background: #000; border: 1px solid #333; border-radius: 4px; position: relative; width: 100%; padding-top: 56.25%; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.3);\">\n    <video id=\"video-element\" autoplay muted playsinline style=\"position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;\"></video>\n    \n    <div class=\"cctv-overlay-top\" style=\"position: absolute; top: 10px; left: 10px; right: 10px; display: flex; justify-content: space-between; pointer-events: none;\">\n        <div style=\"background: rgba(0,0,0,0.5); color: #fff; padding: 2px 8px; font-family: monospace; font-size: 12px; border-radius: 2px;\">\n            <span id=\"cam-name\">CAMERA</span>\n        </div>\n        <div style=\"background: rgba(229,57,53,0.8); color: #fff; padding: 2px 8px; font-family: monospace; font-size: 10px; border-radius: 2px;\">\n            <span>\u25cf LIVE AI</span>\n        </div>\n    </div>\n    \n    <div id=\"spinner\" style=\"position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border: 4px solid rgba(255,255,255,0.3); border-top: 4px solid #e94560; border-radius: 50%; width: 40px; height: 40px; animation: spin 1s linear infinite; display: none;\"></div>\n</div>\n\n<style>\n    @keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }\n</style>\n\n<script>\n(function(scope) {\n    const video = document.getElementById('video-element');\n    const camName = document.getElementById('cam-name');\n    const spinner = document.getElementById('spinner');\n    \n    let flvPlayer = null;\n    let currentCameraId = null;\n\n    function ensureFlvLib(callback) {\n        if (typeof flvjs !== 'undefined') { callback(); return; }\n        const script = document.createElement('script');\n        script.src = 'https://cdn.bootcss.com/flv.js/1.6.2/flv.min.js';\n        script.onload = callback;\n        document.head.appendChild(script);\n    }\n\n    function playStream(cameraId) {\n        if (!cameraId) return;\n        currentCameraId = cameraId;\n        camName.textContent = cameraId;\n        spinner.style.display = 'block';\n        \n        if (flvPlayer) {\n            flvPlayer.destroy();\n            flvPlayer = null;\n        }\n\n        ensureFlvLib(() => {\n            if (flvjs.isSupported()) {\n                const hostname = location.hostname;\n                const url = `http://${hostname}:8000/live/${cameraId}_ai.flv`;\n                \n                flvPlayer = flvjs.createPlayer({\n                    type: 'flv',\n                    url: url,\n                    isLive: true,\n                    cors: true,\n                    hasAudio: false\n                }, {\n                    enableStashBuffer: false,\n                    stashInitialSize: 128,\n                    autoCleanupSourceBuffer: true\n                });\n                \n                flvPlayer.attachMediaElement(video);\n                flvPlayer.load();\n                flvPlayer.play().then(() => {\n                    spinner.style.display = 'none';\n                }).catch(e => {\n                    console.log('Autoplay blocked', e);\n                    spinner.style.display = 'none';\n                });\n\n                flvPlayer.on(flvjs.Events.ERROR, (type, details) => {\n                    console.error('FLV Error:', type, details);\n                });\n            }\n        });\n    }\n\n    scope.$watch('msg', function(msg) {\n        if (msg && msg.topic === 'selectedCamera') {\n            playStream(msg.payload);\n        }\n    });\n    \n    scope.$on('$destroy', () => {\n        if (flvPlayer) flvPlayer.destroy();\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 710,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_group_traffic_light",
        "type": "ui_group",
        "name": "\ud83d\udea6 \u0110\u00e8n giao th\u00f4ng",
        "tab": "ui_tab_monitor",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_vehicle_stats",
        "type": "ui_group",
        "name": "\ud83d\ude97 Th\u1ed1ng k\u00ea ph\u01b0\u01a1ng ti\u1ec7n",
        "tab": "ui_tab_monitor",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_template_traffic_light",
        "type": "ui_template",
        "z": "f6f2187d.f17ca8",
        "group": "ui_group_traffic_light",
        "name": "Traffic Light Widget",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"display: flex; justify-content: center; align-items: center; gap: 20px; padding: 20px; height: 100%;\">\n    <div id=\"light-red\" style=\"width: 60px; height: 60px; border-radius: 50%; background: #330000; border: 2px solid #555; box-shadow: 0 0 10px #000 inset; transition: all 0.2s;\"></div>\n    <div id=\"light-yellow\" style=\"width: 60px; height: 60px; border-radius: 50%; background: #333300; border: 2px solid #555; box-shadow: 0 0 10px #000 inset; transition: all 0.2s;\"></div>\n    <div id=\"light-green\" style=\"width: 60px; height: 60px; border-radius: 50%; background: #003300; border: 2px solid #555; box-shadow: 0 0 10px #000 inset; transition: all 0.2s;\"></div>\n</div>\n<div id=\"tl-status\" style=\"text-align: center; color: #888; font-size: 12px; margin-top: 10px;\">\u0110ang ch\u1edd d\u1eef li\u1ec7u...</div>\n\n<script src=\"https://cdn.socket.io/4.5.4/socket.io.min.js\"></script>\n<script>\n(function(scope) {\n    const lights = {\n        'RED': document.getElementById('light-red'),\n        'YELLOW': document.getElementById('light-yellow'),\n        'GREEN': document.getElementById('light-green')\n    };\n    const statusEl = document.getElementById('tl-status');\n    let selectedCameraId = null;\n    \n    const socket = io('http://' + location.hostname + ':3000', {\n        transports: ['websocket', 'polling'],\n        rejectUnauthorized: false\n    });\n\n    function reset() {\n        lights['RED'].style.background = '#330000';\n        lights['RED'].style.boxShadow = '0 0 10px #000 inset';\n        lights['YELLOW'].style.background = '#333300';\n        lights['YELLOW'].style.boxShadow = '0 0 10px #000 inset';\n        lights['GREEN'].style.background = '#003300';\n        lights['GREEN'].style.boxShadow = '0 0 10px #000 inset';\n    }\n\n    function updateLight(color) {\n        reset();\n        if (color && lights[color]) {\n            const brightColors = {\n                'RED': '#ff0000',\n                'YELLOW': '#ffff00',\n                'GREEN': '#00ff00'\n            };\n            lights[color].style.background = brightColors[color];\n            lights[color].style.boxShadow = `0 0 20px ${brightColors[color]}`;\n            statusEl.textContent = `T\u00edn hi\u1ec7u: ${color}`;\n        }\n    }\n\n    scope.$watch('msg', function(msg) {\n        if (msg && msg.topic === 'selectedCamera') {\n            selectedCameraId = msg.payload;\n            statusEl.textContent = selectedCameraId ? '\u0110ang ch\u1edd t\u00edn hi\u1ec7u...' : 'Ch\u01b0a ch\u1ecdn camera';\n            reset();\n        }\n    });\n\n    socket.on('traffic_light', (data) => {\n        // Support both cameraId (legacy/socketio) and camera_id (kaggle/websocket)\n        const incomingId = data.cameraId || data.camera_id;\n        if (selectedCameraId && incomingId === selectedCameraId) {\n             // Raw format example: \"Traffic Light -Red-\" or normalized \"RED\"\n             let rawStatus = data.traffic_status || \"\";\n             let color = null;\n             if (rawStatus.toLowerCase().includes('red')) color = 'RED';\n             else if (rawStatus.toLowerCase().includes('green')) color = 'GREEN';\n             else if (rawStatus.toLowerCase().includes('yellow')) color = 'YELLOW';\n             \n             if (color) updateLight(color);\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 400,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_template_vehicle_stats",
        "type": "ui_template",
        "z": "f6f2187d.f17ca8",
        "group": "ui_group_vehicle_stats",
        "name": "Vehicle Stats Widget",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"padding: 10px;\">\n    <div class=\"stat-item\" style=\"margin-bottom: 8px; background: #1a1a2e; padding: 8px; border-radius: 4px; border-left: 3px solid #e94560;\">\n        <div style=\"display: flex; justify-content: space-between; color: #ccc; font-size: 12px;\">\n            <span>\ud83d\ude97 \u00d4 t\u00f4</span>\n            <span id=\"count-car\" style=\"font-weight: bold; color: white;\">0</span>\n        </div>\n    </div>\n    <div class=\"stat-item\" style=\"margin-bottom: 8px; background: #1a1a2e; padding: 8px; border-radius: 4px; border-left: 3px solid #ffcc00;\">\n        <div style=\"display: flex; justify-content: space-between; color: #ccc; font-size: 12px;\">\n            <span>\ud83d\ude9a Xe t\u1ea3i</span>\n            <span id=\"count-truck\" style=\"font-weight: bold; color: white;\">0</span>\n        </div>\n    </div>\n    <div class=\"stat-item\" style=\"margin-bottom: 8px; background: #1a1a2e; padding: 8px; border-radius: 4px; border-left: 3px solid #00cc00;\">\n        <div style=\"display: flex; justify-content: space-between; color: #ccc; font-size: 12px;\">\n            <span>\ud83d\ude8c Xe bu\u00fdt</span>\n            <span id=\"count-bus\" style=\"font-weight: bold; color: white;\">0</span>\n        </div>\n    </div>\n    <div class=\"stat-item\" style=\"margin-bottom: 8px; background: #1a1a2e; padding: 8px; border-radius: 4px; border-left: 3px solid #3366ff;\">\n        <div style=\"display: flex; justify-content: space-between; color: #ccc; font-size: 12px;\">\n            <span>\ud83c\udfcd\ufe0f Xe m\u00e1y</span>\n            <span id=\"count-motorbike\" style=\"font-weight: bold; color: white;\">0</span>\n        </div>\n    </div>\n    <div style=\"display: flex; justify-content: space-between; margin-top: 10px; padding-top: 8px; border-top: 1px solid #333;\">\n        <span style=\"font-size: 11px; color: #888;\">T\u1ed5ng c\u1ed9ng:</span>\n        <span id=\"count-total\" style=\"font-weight: bold; color: #e94560; font-size: 14px;\">0</span>\n    </div>\n    <div id=\"stats-timestamp\" style=\"text-align: right; font-size: 10px; color: #666; margin-top: 5px;\">--:--:--</div>\n</div>\n\n<script>\n(function(scope) {\n    const els = {\n        'car': document.getElementById('count-car'),\n        'truck': document.getElementById('count-truck'),\n        'bus': document.getElementById('count-bus'),\n        'motorbike': document.getElementById('count-motorbike'),\n        'total': document.getElementById('count-total'),\n        'timestamp': document.getElementById('stats-timestamp')\n    };\n    const baseUrl = 'http://' + location.hostname + ':3000';\n    let pollInterval = null;\n\n    function loadStats() {\n        fetch(baseUrl + '/api/detection/stats/today')\n            .then(res => res.json())\n            .then(data => {\n                if (data.success) {\n                    const counts = data.by_type || {};\n                    els['car'].textContent = counts.car || 0;\n                    els['truck'].textContent = counts.truck || 0;\n                    els['bus'].textContent = counts.bus || 0;\n                    els['motorbike'].textContent = counts.motorcycle || 0;\n                    els['total'].textContent = data.total || 0;\n                    els['timestamp'].textContent = new Date().toLocaleTimeString();\n                }\n            })\n            .catch(err => {\n                console.error('Stats error:', err);\n                els['timestamp'].textContent = 'L\u1ed7i k\u1ebft n\u1ed1i';\n            });\n    }\n\n    // Start polling every 1 second\n    loadStats();\n    pollInterval = setInterval(loadStats, 1000);\n\n    scope.$on('$destroy', () => {\n        if (pollInterval) clearInterval(pollInterval);\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 400,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_template_placeholder_kb2",
        "type": "ui_template",
        "z": "f6f2187d.f17ca8",
        "group": "ui_group_violation_placeholder",
        "name": "KB2 Placeholder",
        "order": 1,
        "width": 0,
        "height": 12,
        "format": "<div class=\"violation-dashboard\" style=\"display: flex; height: calc(100vh - 120px); gap: 20px; color: #ccc;\">\n    <!-- Left: List -->\n    <div class=\"violation-list\" style=\"flex: 1; background: #16213e; border-radius: 12px; padding: 15px; overflow-y: auto;\">\n        <h3 style=\"color: #e94560; margin-top: 0; border-bottom: 1px solid #0f3460; padding-bottom: 10px;\">\n            <i class=\"fa fa-list\"></i> Danh s\u00e1ch vi ph\u1ea1m\n            <button onclick=\"scope.refreshList()\" style=\"float: right; background: none; border: none; color: #e94560; cursor: pointer;\"><i class=\"fa fa-sync\"></i></button>\n        </h3>\n        <div id=\"v-list-container\">Scanning...</div>\n    </div>\n\n    <!-- Right: Preview -->\n    <div class=\"violation-preview\" style=\"flex: 2; background: #1a1a2e; border-radius: 12px; padding: 15px; display: flex; flex-direction: column;\">\n        <h3 style=\"color: #e94560; margin-top: 0;\"><i class=\"fa fa-play-circle\"></i> Xem l\u1ea1i video</h3>\n        \n        <div id=\"v-player-container\" style=\"flex: 1; display: flex; justify-content: center; align-items: center; background: #000; border-radius: 8px; position: relative; overflow: hidden;\">\n            <div id=\"v-placeholder\" style=\"text-align: center;\">\n                <i class=\"fa fa-mouse-pointer\" style=\"font-size: 40px; margin-bottom: 10px; color: #555;\"></i>\n                <p>Ch\u1ecdn m\u1ed9t vi ph\u1ea1m \u0111\u1ec3 xem video</p>\n            </div>\n            <img id=\"v-player-img\" src=\"\" style=\"max-width: 100%; max-height: 100%; display: none;\">\n            <div id=\"v-timestamp\" style=\"position: absolute; top: 10px; right: 10px; background: rgba(0,0,0,0.6); padding: 4px 8px; border-radius: 4px; font-size: 12px; display: none;\"></div>\n        </div>\n        \n        <div class=\"player-controls\" style=\"margin-top: 15px; display: flex; align-items: center; gap: 10px;\">\n            <button id=\"btn-play\" disabled style=\"background: #e94560; border: none; color: white; width: 36px; height: 36px; border-radius: 50%; cursor: pointer; display: flex; align-items: center; justify-content: center;\"><i class=\"fa fa-play\"></i></button>\n            <input type=\"range\" id=\"v-slider\" min=\"0\" max=\"100\" value=\"0\" disabled style=\"flex: 1; accent-color: #e94560;\">\n            <span id=\"v-frame-count\" style=\"font-size: 12px; min-width: 60px; text-align: right;\">0/0</span>\n        </div>\n    </div>\n</div>\n\n\n<script>\n(function(scope) {\n    const baseUrl = 'http://' + location.hostname + ':3000';\n    let currentFrames = [];\n    let isPlaying = false;\n    let playInterval;\n    let currentIndex = 0;\n\n    const dom = {\n        list: document.getElementById('v-list-container'),\n        placeholder: document.getElementById('v-placeholder'),\n        img: document.getElementById('v-player-img'),\n        timestamp: document.getElementById('v-timestamp'),\n        btnPlay: document.getElementById('btn-play'),\n        slider: document.getElementById('v-slider'),\n        frameCount: document.getElementById('v-frame-count')\n    };\n\n    // --- Player Logic ---\n    function showFrame(index) {\n        if (!currentFrames[index]) return;\n        const frame = currentFrames[index];\n        \n        let base64 = '';\n        // Handle different Buffer formats from Mongoose/JSON\n        if (frame.image) {\n             if (frame.image.type === 'Buffer' && Array.isArray(frame.image.data)) {\n                  base64 = _arrayBufferToBase64(frame.image.data);\n             } else if (typeof frame.image === 'string') {\n                  // Assume already base64 or hex? \n                  // If it's pure base64 string\n                  base64 = frame.image; \n             } else if (Array.isArray(frame.image)) {\n                 // Direct byte array\n                 base64 = _arrayBufferToBase64(frame.image);\n             }\n        }\n\n        if (base64) {\n             dom.img.src = 'data:image/jpeg;base64,' + base64;\n             dom.timestamp.textContent = new Date(frame.timestamp).toLocaleTimeString();\n             dom.slider.value = index;\n             dom.frameCount.textContent = `${index + 1}/${currentFrames.length}`;\n        } else {\n             console.error('Invalid frame image format', frame);\n        }\n    }\n\n    function play() {\n        isPlaying = true;\n        dom.btnPlay.innerHTML = '<i class=\"fa fa-pause\"></i>';\n        playInterval = setInterval(() => {\n            currentIndex++;\n            if (currentIndex >= currentFrames.length) {\n                currentIndex = 0; // Loop\n            }\n            showFrame(currentIndex);\n        }, 100); // 10fps\n    }\n\n    function pause() {\n        isPlaying = false;\n        dom.btnPlay.innerHTML = '<i class=\"fa fa-play\"></i>';\n        clearInterval(playInterval);\n    }\n\n    // --- Click Handlers ---\n    dom.btnPlay.onclick = () => {\n        const vid = dom.btnPlay.dataset.vid;\n        if (!vid) return;\n\n        if (currentFrames.length === 0) {\n            dom.btnPlay.innerHTML = '<i class=\"fa fa-spinner fa-spin\"></i>';\n            dom.btnPlay.disabled = true;\n            \n            fetch(baseUrl + '/api/violation/frames/' + vid)\n                .then(res => res.json())\n                .then(data => {\n                    const meta = data.metadata || {};\n                    const frames = Array.isArray(meta) ? meta : (meta.frames || []);\n                    \n                    if (frames.length > 0) {\n                        currentFrames = frames;\n                        dom.slider.disabled = false;\n                        dom.slider.max = currentFrames.length - 1;\n                        dom.timestamp.style.display = 'block';\n                        dom.btnPlay.disabled = false;\n                        \n                        currentIndex = 0;\n                        showFrame(0);\n                        play(); \n                    } else {\n                        alert('Kh\u00f4ng t\u00ecm th\u1ea5y video quy tr\u00ecnh');\n                        dom.btnPlay.disabled = false;\n                        dom.btnPlay.innerHTML = '<i class=\"fa fa-play\"></i>';\n                    }\n                })\n                .catch(err => {\n                    console.error(err);\n                    alert('L\u1ed7i t\u1ea3i video');\n                    dom.btnPlay.disabled = false;\n                    dom.btnPlay.innerHTML = '<i class=\"fa fa-play\"></i>';\n                });\n        } else {\n            isPlaying ? pause() : play();\n        }\n    };\n    \n    dom.slider.addEventListener('input', (e) => {\n        pause();\n        currentIndex = parseInt(e.target.value);\n        showFrame(currentIndex);\n    });\n\n    // --- List Logic ---\n    scope.refreshList = function() {\n        dom.list.innerHTML = 'Scanning...';\n        fetch(baseUrl + '/api/violation/all')\n            .then(res => res.json())\n            .then(data => {\n                const items = data.metadata || [];\n                if (items.length === 0) {\n                    dom.list.innerHTML = '<p style=\"text-align:center; padding: 20px;\">Kh\u00f4ng c\u00f3 vi ph\u1ea1m n\u00e0o</p>';\n                    return;\n                }\n                \n                let allViolations = [];\n                items.forEach(group => {\n                    group.violations.forEach(v => {\n                        allViolations.push({...v, license_plate: group.license_plate});\n                    });\n                });\n                \n                allViolations.sort((a, b) => new Date(b.created_at) - new Date(a.created_at));\n\n                dom.list.innerHTML = '';\n                allViolations.forEach(v => {\n                    const el = document.createElement('div');\n                    el.style.cssText = 'padding: 10px; border-bottom: 1px solid #ffffff1a; cursor: pointer; transition: background 0.2s;';\n                    el.onmouseover = () => el.style.background = '#ffffff1a';\n                    el.onmouseout = () => el.style.background = 'transparent';\n                    \n                    const time = new Date(v.detection_time || v.created_at).toLocaleString();\n                    const typeMap = { 'RED_LIGHT': 'V\u01b0\u1ee3t \u0111\u00e8n \u0111\u1ecf', 'LANE_ENCROACHMENT': 'L\u1ea5n l\u00e0n' };\n                    \n                    el.innerHTML = `\n                        <div style=\"display:flex; justify-content:space-between; margin-bottom: 4px;\">\n                            <span style=\"font-weight:bold; color: #fff;\">${v.license_plate}</span>\n                            <span style=\"font-size: 11px; background: #e94560; padding: 2px 6px; border-radius: 4px; color: white;\">${typeMap[v.violation_type] || v.violation_type}</span>\n                        </div>\n                        <div style=\"font-size: 11px; color: #888;\"><i class=\"fa fa-clock\"></i> ${time}</div>\n                    `;\n                    \n                    el.onclick = () => loadPreview(v._id);\n                    dom.list.appendChild(el);\n                });\n            });\n    };\n\n    function loadPreview(violationId) {\n        pause();\n        dom.placeholder.style.display = 'none';\n        dom.img.style.display = 'block';\n        \n        // Use Image API for static preview\n        dom.img.src = baseUrl + '/api/violation/image/' + violationId;\n        \n        dom.timestamp.style.display = 'none';\n        \n        dom.btnPlay.disabled = false;\n        dom.btnPlay.innerHTML = '<i class=\"fa fa-play\"></i>';\n        dom.slider.disabled = true;\n        \n        currentFrames = [];\n        currentIndex = 0;\n        dom.btnPlay.dataset.vid = violationId;\n    }\n\n    function _arrayBufferToBase64(buffer) {\n        var binary = '';\n        var bytes = new Uint8Array(buffer);\n        var len = bytes.byteLength;\n        for (var i = 0; i < len; i++) {\n            binary += String.fromCharCode(bytes[i]);\n        }\n        return window.btoa(binary);\n    }\n\n    // Initial load\n    scope.refreshList();\n    setInterval(scope.refreshList, 10000);\n\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 710,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_tab_scenario3",
        "type": "ui_tab",
        "name": "K\u1ecbch b\u1ea3n 3: Xe Nghi V\u1ea5n",
        "icon": "search",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_group_scenario3_main",
        "type": "ui_group",
        "name": "Gi\u00e1m S\u00e1t & C\u1ea3nh B\u00e1o",
        "tab": "ui_tab_scenario3",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "ui_template_scenario3",
        "type": "ui_template",
        "z": "f6f2187d.f17ca8",
        "group": "ui_group_scenario3_main",
        "name": "Scenario 3 Logic",
        "order": 1,
        "width": "20",
        "height": "14",
        "format": "<div style=\"display: flex; gap: 20px; height: 100%; color: #ccc;\">\n    <!-- LEFT -->\n    <div style=\"flex: 2; display: flex; flex-direction: column; gap: 15px;\">\n        <!-- Alert -->\n        <div id=\"alert-area\" style=\"display: none; background: #3c1414; border: 1px solid #ff4444; border-radius: 8px; padding: 15px;\">\n            <h3 style=\"margin: 0 0 10px 0; color: #ff4444;\"><i class=\"fa fa-exclamation-triangle\"></i> C\u1ea2NH B\u00c1O XE NGHI V\u1ea4N</h3>\n            <div id=\"alert-content\" style=\"font-size: 1.2em; margin-bottom: 10px;\"></div>\n            <button id=\"btn-close-alert\" style=\"background: #555; border: none; color: white; padding: 5px 15px; cursor: pointer; border-radius: 4px;\">\u0110\u00f3ng</button>\n        </div>\n        <!-- List -->\n        <div style=\"background: #1a1a2e; padding: 15px; border-radius: 8px; flex: 1; overflow-y: auto;\">\n            <div style=\"display: flex; justify-content: space-between; margin-bottom: 10px; border-bottom: 1px solid #333; padding-bottom: 10px;\">\n                <h3 style=\"margin:0; color:#e94560\"><i class=\"fa fa-list\"></i> Danh S\u00e1ch Theo D\u00f5i</h3>\n                <button id=\"btn-refresh\" style=\"background: #0f3460; color: white; border: none; padding: 5px 10px; border-radius: 4px; cursor: pointer;\"><i class=\"fa fa-sync\"></i> L\u00e0m m\u1edbi</button>\n            </div>\n            <div id=\"list-container\">\u0110ang t\u1ea3i...</div>\n        </div>\n    </div>\n    <!-- RIGHT -->\n    <div style=\"flex: 1; background: #16213e; padding: 20px; border-radius: 8px; height: fit-content;\">\n        <h3 style=\"margin-top:0; color:#4caf50\"><i class=\"fa fa-plus-circle\"></i> Th\u00eam M\u1edbi</h3>\n        \n        <div style=\"margin-bottom: 15px;\">\n            <label style=\"display:block; color:#888; font-size:12px; margin-bottom:5px\">Bi\u1ec3n s\u1ed1 xe</label>\n            <input id=\"inp-plate\" placeholder=\"V\u00ed d\u1ee5: 30A-123.45\" style=\"width:100%; padding:10px; margin-bottom:10px; background:#0f172a; color:white; border:1px solid #334155; border-radius:4px; text-transform: uppercase;\">\n        </div>\n        \n        <div style=\"margin-bottom: 15px;\">\n             <label style=\"display:block; color:#888; font-size:12px; margin-bottom:5px\">L\u00fd do theo d\u00f5i</label>\n            <select id=\"inp-reason\" style=\"width:100%; padding:10px; margin-bottom:10px; background:#0f172a; color:white; border:1px solid #334155; border-radius:4px;\">\n                <option value=\"Vi ph\u1ea1m nhi\u1ec1u l\u1ea7n\">Vi ph\u1ea1m nhi\u1ec1u l\u1ea7n</option>\n                <option value=\"Xe m\u1ea5t c\u1eafp\">Xe m\u1ea5t c\u1eafp</option>\n                <option value=\"\u0110\u1ed1i t\u01b0\u1ee3ng nghi v\u1ea5n\">\u0110\u1ed1i t\u01b0\u1ee3ng nghi v\u1ea5n</option>\n                <option value=\"Kh\u00e1c\">Kh\u00e1c</option>\n            </select>\n        </div>\n        \n        <button id=\"btn-add\" style=\"width:100%; padding:12px; background:#4caf50; color:white; font-weight:bold; cursor:pointer; border:none; border-radius:4px;\">TH\u00caM V\u00c0O DANH S\u00c1CH</button>\n        <div id=\"form-msg\" style=\"margin-top:10px; font-size: 13px; text-align: center;\"></div>\n    </div>\n</div>\n\n<script src=\"https://cdn.socket.io/4.5.4/socket.io.min.js\"></script>\n<script>\n(function(scope) {\n    const baseUrl = 'http://' + location.hostname + ':3000';\n    const apiUrl = baseUrl + '/api/tracked-vehicles';\n    const socket = io(baseUrl, {transports:['websocket','polling'], rejectUnauthorized:false});\n    \n    // UI Refs\n    const dom = {\n        list: document.getElementById('list-container'),\n        plate: document.getElementById('inp-plate'),\n        reason: document.getElementById('inp-reason'),\n        msg: document.getElementById('form-msg'),\n        alert: document.getElementById('alert-area'),\n        alertContent: document.getElementById('alert-content'),\n        btnRefresh: document.getElementById('btn-refresh'),\n        btnAdd: document.getElementById('btn-add'),\n        btnCloseAlert: document.getElementById('btn-close-alert')\n    };\n\n    scope.refreshList = function() {\n        dom.list.innerHTML = '\u0110ang t\u1ea3i...';\n        fetch(apiUrl).then(r=>r.json()).then(d=>{\n            const list = d.data || [];\n            if(list.length===0) { dom.list.innerHTML='<div style=\"text-align:center; padding:20px; color:#666\">Danh s\u00e1ch tr\u1ed1ng</div>'; return;}\n            dom.list.innerHTML = list.map(v=>`\n                <div style=\"display:flex; justify-content:space-between; align-items:center; padding:10px; border-bottom:1px solid #333;\">\n                    <div>\n                        <span style=\"font-weight:bold; font-family:monospace; font-size:1.1em; color:#fff; display:block\">${v.license_plate}</span>\n                        <small style=\"color:#888\">${new Date(v.createdAt).toLocaleString()}</small>\n                    </div>\n                    <div style=\"text-align:right\">\n                        <div style=\"color:#ccc; margin-bottom:5px\">${v.reason}</div>\n                        <button class=\"btn-del\" data-id=\"${v._id}\" style=\"color:#ff6b6b; background:none; border:1px solid #ff6b6b; border-radius:4px; cursor:pointer; padding:2px 8px; font-size:12px\"><i class=\"fa fa-trash\"></i> X\u00f3a</button>\n                    </div>\n                </div>\n            `).join('');\n        }).catch(e=>dom.list.innerHTML='<div style=\"color:red\">L\u1ed7i t\u1ea3i danh s\u00e1ch</div>');\n    };\n\n    scope.addVehicle = function() {\n        const p = dom.plate.value.trim().toUpperCase();\n        if(!p) { \n            dom.msg.textContent='Vui l\u00f2ng nh\u1eadp bi\u1ec3n s\u1ed1'; dom.msg.style.color='red'; \n            return; \n        }\n        \n        dom.msg.textContent='\u0110ang x\u1eed l\u00fd...';\n        dom.msg.style.color='#aaa';\n        \n        fetch(apiUrl, { method:'POST', headers:{'Content-Type':'application/json'}, body:JSON.stringify({license_plate:p, reason:dom.reason.value}) })\n        .then(r=>r.json())\n        .then(d=>{\n            if(d.success) { \n                dom.msg.textContent='Th\u00eam th\u00e0nh c\u00f4ng!'; dom.msg.style.color='green'; \n                dom.plate.value='';\n                scope.refreshList(); \n            } else { \n                dom.msg.textContent = d.message; dom.msg.style.color='red';\n            }\n        }).catch(e=> { dom.msg.textContent='L\u1ed7i k\u1ebft n\u1ed1i'; dom.msg.style.color='red'; });\n    };\n\n    scope.delete = function(id) {\n        if(confirm('B\u1ea1n ch\u1eafc ch\u1eafn mu\u1ed1n x\u00f3a?')) fetch(apiUrl+'/'+id, {method:'DELETE'}).then(()=>scope.refreshList());\n    };\n\n    // Event Bindings (Fixing scope issue)\n    if(dom.btnRefresh) dom.btnRefresh.addEventListener('click', scope.refreshList);\n    if(dom.btnAdd) dom.btnAdd.addEventListener('click', scope.addVehicle);\n    if(dom.btnCloseAlert) dom.btnCloseAlert.addEventListener('click', () => { dom.alert.style.display='none'; });\n    \n    // Event Delegation for Delete buttons\n    if(dom.list) dom.list.addEventListener('click', (e) => {\n        const btn = e.target.closest('.btn-del');\n        if(btn && btn.dataset.id) {\n            scope.delete(btn.dataset.id);\n        }\n    });\n\n    socket.on('tracked_vehicle_alert', d => {\n        dom.alert.style.display='block';\n        dom.alertContent.innerHTML = `<div>Ph\u00e1t hi\u1ec7n xe: <b style=\"color:#fff; font-size:1.2em\">${d.license_plate}</b></div><div>Camera: ${d.camera_id}</div><div>L\u00fd do: ${d.reason}</div><div style=\"color:#bbb; font-size:0.9em; margin-top:5px\">${new Date(d.timestamp).toLocaleString()}</div>`;\n        let blink = true;\n        const interval = setInterval(() => {\n            dom.alert.style.borderColor = blink ? '#ff4444' : 'yellow';\n            blink = !blink;\n        }, 500);\n        setTimeout(() => clearInterval(interval), 10000);\n    });\n\n    // Init\n    scope.refreshList();\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 710,
        "y": 600,
        "wires": [
            []
        ]
    }
]